*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  /* padding: 10px 10px 10px 10px; */
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, lightpink, skyblue);
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.calculator {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: minmax(110px, auto) repeat(6, 55px);
}

.calculator > button {
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 1px solid white;
}
.number {
  background-color: rgba(255, 255, 255, 0.7);
}
.operation {
  background-color: rgba(238, 238, 238, 0.7);
}
.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.all-clear {
  grid-column: span 2;
}
.equal {
  grid-row: span 2;
}

.display {
  grid-column: 1 / 5;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous {
  font-size: 15px;
}
.display .current {
  font-size: 30px;
}
